<div id="cover" class="<%=params[:action]%>">
<div class="container">
<h1>En <strong class="blue">Control y Programación Agrícola</strong></h1>
<p>Forjamos relaciones de confianza y a largo plazo con agricultores</p>
</div>
</div>

<div id="titulos">
<h2>¿Qué hacemos?</h2>
<hr class="blue">
<p>Ejecutamos estrategias en comercio agrícola que generan beneficios en toda la cadena de valor, logrando minimizar la "agresiva volatilidad” que afecta los precios de los productos del campo</p>
</div>


<div id="servicios">
	<ul>
	<div class="row">
		<li class="col-sm-6">
			<div class="izq">
				<h3>Nuestros Productos</h3>
				<hr class="light">
					<p>A lo largo de los años, hemos recorrido el territorio nacional para encontrar agricultores serios, profesionales y confiables con los cuáles hacemos negocios transparentes y a largo plazo</p><br><br><br>
				<br>
				<%= link_to "Más información", productos_path, class: "button button_white" %>
			</div>
		</li>
		<li class="col-sm-6">
			<div class="der">
				<h3>Nuestra Operación</h3>
				<hr class="light">
				<p>Nos especializamos únicamente en los vegetales frescos y llevamos años haciéndolo. <br> Sabemos todos los retos que implica el manejo de estos perecederos, pero sobre todo tenemos la soluciones para llevarlos con estricta calidad a tu punto de venta.</p>
				<br>
				<%= link_to "Más información", operacion_path, class: "button button_white" %>
			</div>
		</li>
		</div>
	</ul>
</div>

<div id="clientes">
	<h2>Clientes</h2>
	<hr class="blue">
	<p>Algunos clientes con los que tenemos relaciones duraderas</p>
	<ul>
		<li>
			<%= image_tag src="mc.jpg" %>
		</li>
		<li>
			<%= image_tag src="mr_lucky.png" %>
		</li>
		<li>
			<%= image_tag src="kfc.jpg" %>
		</li>
		<li>
			<%= image_tag src="subway.jpg" %>
		</li>
		<li>
			<%= image_tag src="burger.jpg" %>
		</li>
	</ul>
</div>

<div id="titulos">

	<h2>¿Quieres conocernos mejor?</h2>
	<hr class="blue">
	<p>Nos gusta escuchar los comentarios de nuestros clientes, queremos hacer de esta experiencia única y nos gustaría saber qué opinas</p>
	<%= link_to "Contáctanos", new_contact_path, class: "button button_blue" %>
</div>