<!DOCTYPE html>
<html>
<head>
  <title>Cpagricola</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://use.fontawesome.com/8e56b09395.js"></script>
</head>
<body>


<div id="menu">
<ul class="topnav" id="myTopnav">
  <li class="no_more">
    <%= link_to root_path do %> 
    <%= image_tag src="logo.png" %>
    <% end %>
  </li>
  <li class="o"><%=link_to "Productos", productos_path %></li>
  <li class="o"><%=link_to "Operación", operacion_path %></li>
  <li class="o"><a href="#about">Contacto</a></li>
  <li class="icon">
    <a href="javascript:void(0);" style="font-size:15px;" onclick="myFunction()">☰</a>
  </li>
</ul>
</div>

<%= yield %>

<div id="footer">
<div class="container">
	<ul>
		<li><a href="#">Productos</a></li>
		<li><a href="#">Operación</a></li>
		<li><a href="#">Contacto</a></li>
		<li>
			<a href=""><span class="fa fa-twitter twitter" aria-hidden="true"></span></a>
		<a href=""><span class="fa fa-facebook-official face" aria-hidden="true"></span></a>
		<a href=""><span class="fa fa-youtube-square you" aria-hidden="true"></span></a>
		</li>
		<li class="float_right">© 2016 Control y Protección agrícola v1.0.0</li>
	</ul>
</div>
</div>

<script>
function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
}
</script>
</body>
</html>
